.App {
  justify-content: space-around;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardList {
  flex: 1;
  justify-content: space-around;
}

.patronaty {
  flex: 1;
  justify-content: space-around;
}

.onas {
  flex: 1;
  justify-content: space-around;
}

.container {
  padding-top: 10vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

