@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Rajdhani);
@import url(https://fonts.googleapis.com/css?family=Lato);

.App {
  justify-content: space-around;
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height:30vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("../src/header.png");
   background-size: cover;
  /*background-color: #010A19;*/
    padding-top: 10vh;
  padding-bottom: 10vh;
  /*min-height:40vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardList {
  flex: 1;
  justify-content: space-around;
}

.patronaty {
  min-height: 30vh;
  flex: 1;
  justify-content: flex-end;
}

.Patronaty {
  background-image: url("../src/patronaty.png");
  opacity: 0.75;
  background-size: cover;
  /*justify-content: space-around;*/
/*  align-items: center;*/
}


.Onas {
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 20vh;
  flex: 1;
  justify-content: space-around;
  background-position: center;
  opacity: 0.8;
}

.Placeholder {
/*  padding-top: 35vh;
  padding-bottom: 10vh;*/
  min-height: 50vh;
  flex: 1;
  justify-content: space-around;
  background-position: center;
  opacity: 0.8;
  background-image: url("../src/background_1.jpg");
  background-size: cover;
}

.Footer {
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.Projekty {
    /*background-color: #000C19;*/
}

.Patronaty {
  background-image: url("../src/patronaty.png");
  opacity: 0.75;
  background-size: cover;
  /*justify-content: space-around;*/
/*  align-items: center;*/
}

.container {
  padding-top: 7vh;
  padding-bottom: 5vh;
}

.text-title {
  color: #A3782A;
  font-family: Teko, sans-serif;
  font-weight: 400;
}

.text-subtitle {
  color: #A3782A;
  font-family: Teko, sans-serif;
  font-weight: 300;
}

.text-decoration {
  color:  #FFF0D8;
  font-family: Rajdhani, sans-serif;
  font-weight: 500;

}

.text-plain {
  font-family: Rajdhani, sans-serif;
  font-weight: 500;
  font-size: 1.0rem;
}

.text-highlight {
  color:  #FFF0D8;
}

.text-dark {
  color: #343a40;
}

.card-body {
  background-color: #f8f9fa;
}

.logo-typo {
  height: 35px;
}

.ico {
  height: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
